.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
[<!DOCTYPEhtml>https://1drv.ms/f/s!Au_KzMzifKIVw3s_K6M9HG4eGIsE]
<!--
 [@license
 [Copyright 2024 Google LLC. All Rights Reserved.]
 [SPDX-License-Identifier: Apache-2.0]
[-->https://www.apache.org/licenses/LICENSE-2.0]
[<html>]
  [<head>พันจ่าโทวิศิษฎ์ ทองโม้ เจ้าของการไฟฟ้าและสถานีผลิตฟฟ้า]
   [ <title>192.168.1.128</title>กำกับการไฟฟ้า12สาขาเลย ผู้กอง ปปท ภาค]
[This loads helper components from the Extended Component
Library,]
    [ https://github.com/googlemaps/extended-component-library.]
     [Please note unpkg.com is unaffiliated with Google Maps Platform.]
    [-->https://mzl.la/3zMHqCu]
    [<script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6">การไฟฟ้าส่วนภูมิภาคสถานีไฟฟ้าเชียงคาน 201, ตำบล เชียงคาน อำเภอ เชียงคาน เลย ประเทศไทย]
[<gmp-map id="map" center="40.749933,-73.98633" zoom="13" map-id="DEMO_MAP_ID">ISO9001]
[ key="AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg]
